*,
*::after,
*::before {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.contacts{
    width: 100%;
    height: 100%;
    padding: 75px 0;
    color: #fff;
    background-color: #151515;
}

.contacts__row{
    width: 100%;
    height: 510px;
    margin: 75px 0 0 0;
    display: flex;
    align-items:center;
    justify-content:center;
}

.contacts__content{
    width: calc(297px + 7.5vw);
    height: 100%;
    padding: 0 100px;
    background-color: #1E1D1D;
}

.contacts__title{
    margin-bottom: 40px;
    font-size: 62px;
}

.contacts__addres{
    margin-bottom: 30px;
}

.contacts__number{
    margin-bottom: 100px;
}

.contacts__label{
    font-size: 18px;
}

.contacts__subtitle{
    font-size: 24px;
}

.contacts__btn{
    width: 197px;
    min-height: 52px;
    padding: 14px 47px;
    color: #fff;
    border: 1px solid #fff;
    text-decoration: none;
    font-size: 24px;   
    display: block; 
}

.contacts__img-block{
    width: 1130px;
    height: 100%;    
}

.contacts__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}