.mb-60 {
    margin-bottom: 60px;
}

.h-100 {
    height: 150px;
}

.main_spray {
    width: 100%;
    height: 100vh;
    background-image: url(../assets/sprayImg/sprayBackgroundImg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    display: inline-block;
}

.main_spray__row {
    width: 100%;
    height: 100%;
    padding-right: 175px;
}

.main_spray__title-block {
    width: 100%;
    height: 100%;
    margin-top: 270px;
    color: #fff;
}

.main_spray__title {
    margin: 0 0 50px 0;
    font-size: calc(24px + 3vw);
    line-height: 86.4px;
}

.main_spray__subtitle-block {
    width: 100%;
    height: 100%;
    color: #fff;
}

.main_spray__subtitle {
    font-size: 24px;
    line-height: 40px;
}

/*------------- SERVICES SPRAY SECTION -------------*/
.services_spray {
    width: 100%;
    height: 100%;
    padding-top: 125px;
    background-color: #181818F5
}

.services_spray__row {
    width: 100%;
    height: auto;
    color: #fff;
    position: relative;
}

.services_spray__subtitle {
    font-size: 24px;
    line-height: 40px;
}

/*------------- SERVICES SPRAY SECTION END -------------*/

/*--------------- ADVANTAGES SPRAY SECTION ------------*/
.advantages_spray {
    width: 100%;
    height: 100%;
    padding-top: 125px;
    background-color: #181818F5;
}

.advantages_spray__row {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.advantages_spray__card {
    width: 422px;
    min-height: 550px;
    margin: 0 15px;
    padding: 35px;
    color: #fff;
    background-color: #1E1D1D;
}

.advantages_spray__card-header {
    width: 100%;
    height: auto;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    position: relative;
}

.advantages_spray__card-header::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #02E502;

    position: absolute;
    left: 0;
    bottom: 0;
}

.advantages_spray__card-img-block {
    width: 36px;
    height: 36px;
    margin-right: 15px;
}

.advantages_spray__card-img {
    width: 100%;
    height: 100%;
}

.advantages_spray__card-title {
    font-size: 22px;
    line-height: 22px;
}

.advantages_spray__card-menu {
    width: 100%;
    height: 100%;
    margin: 25px 0 0 0;
    padding: 0;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.advantages_spray__card-item {
    width: 100%;
    height: auto;
    margin-bottom: 23px;
    list-style: none;

    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.advantage_spray__card-item-img-block {
    width: 15px;
    height: 15px;
    margin-right: 15px;
}

.advantages_spray__card-item-img {
    width: 100%;
    height: 100%;
    margin-right: 15px;
}

.advantages_spray__card-item-title {
    margin: 0;
    font-size: 18px;
    line-height: 31px;
}

/*--------------- ADVANTAGES SPRAY SECTION END -------------------*/

/*--------------- DEFECT SPRAY SECTION -------------------*/
.defect_spray {
    width: 100%;
    height: auto;
    padding-top: 125px;
    background-color: #181818F5;
    color: #fff;
}

.defect_spray__row {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.defect_spray__card{
    width: auto;
    height: auto;
    margin: 0 15px;
    padding: 30px;
    background-color: #1E1D1D;
}

.defect_spray__card-header {
    width: 100%;
    height: auto;
    padding: 14px 0;
    display: flex;
    align-items: center;
    position: relative;
}

.defect_spray__card-header::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #02E502;
    position: absolute;
    bottom: 0;
    left: 0;
}

.defect_spray__card-title{
    margin-left: 12px;
}

.defect_spray__card-menu{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px 0;
}

.defect_spray__card-item{
    margin: 8px 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.defect_spray__card-item-img-block{
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

.defect_spray__card-img{
    width: 100%;
    height: 100%;
}
/*--------------- DEFECT SPRAY SECTION END -------------------*/

/*--------------- HOW WORK SECTION -------------------*/
.how_work{
    width: 100%;
    height: auto;
    padding-top: 125px;
    padding-bottom: 125px;
    background-color: #181818F5;
}

.how_work__row{
    width: 100%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content: space-around;
}

.how_work__card{
    width: 502px;
    height: 588px;
    padding: 35px;
    color: #fff;
    background-color: #1E1D1D;
    overflow: hidden;
}

.how_work__img-block{
    width: 340px;
    height: 220px;
    margin: 0 auto;
}

.how_work__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.how_work__menu{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.how_work__title{
    font-size: 24px;
}

.how_work__item{
    width: 100%;
    list-style:none;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
}

.how_work__menu-subtitle{
    margin-left: 8px;
    margin-bottom: 36px;
    font-size: 18px;
}
/*--------------- HOW WORK SECTION END -------------------*/